@model LivrariaApp.Models.Livro

@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir</h1>

<h3>Tem certeza que deseja excluir?</h3>
<div>
    <h4>Livro</h4>
    <hr />
    <partial name="PartialViews/_Details_Delete" />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
        <input type="submit" value="Excluir" class="btn btn-outline-danger" />

    </form>
</div>
